.container-info {
    // border: 1px solid black;
    grid-area: 2 / 3 / 6 / 5;
    // background-color: #F5F7F9;
    background-color: #efefef;
    // display: flex;
    // background-color: white;
    // justify-content: center;
    // align-items: center;

    // img {
    //     height: 500px;
    // }
}

.container-classes {
    width: 100%; 
    height: 85%;
    overflow-y: auto;
}
// **** Head of Info ****//

.head-info {
    width: 100%;
    height: 15%;
    background-color: blue;
}



//******Carpeta*****//

.carpeta {
    width: 285px;
    height: 220px;
    margin: auto;
}

.container-class {
    display: inline-block;
    padding: 1%;
    margin: 1% ;
    width: 21%;
    min-width: 280px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 7px 7px 15px #b9b9b9; 
}

.fotoPerfil-profe {
    width: 55px;
    height: 55px;
    position: relative;
    left: 200px;
    bottom: 100px;
    border-radius: 30px;
}

.container-class-body p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-class {
    margin-bottom: 1rem;
    font-weight: bold;
}

.icon--plus {
    margin: auto;
    height: 250px;
}

