.container-info {
    // border: 1px solid black;
    grid-area: 2 / 3 / 6 / 5;
    // background-color: #F5F7F9;
    background-color: #efefef;
    // display: flex;
  
    // justify-content: center;
    // align-items: center;
}

.container-classes {
    width: 100%; 
    height: 90%;
    overflow-y: auto;
}
// **** Head of Info ****//

.head-info {
    width: 100%;
    height: 10%;
    min-height: 90px;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #b9b9b9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

// ******** agregar una clase ******/
.new_class {
    width: 20%;
    min-width: 200px;
    height: 60px;
    border: 2px solid  #fc9139;
    border-radius: 25px;
    color: #fc9139;
    font-size: 22px;
    background-color: #ffffff;
    margin: 1rem; 
}

.new_class:hover {
    background-color: #e4e4e4 ;
}


// ***** Buscador ********/
.search_class {
    width: 70%;
    min-width: 200px;
    height: 35px;
    outline: none;
    background-color: #e4e4e4;
    border: 0;
    margin: 1rem 0 1rem 1rem;
    // border-radius: 25px;
    border-radius: 15px 0 0 15px;
    font-size: 24px;
    padding: 10px;
}
.search_class::placeholder {
    color: #5c5c5c;
    font-size: 24px;
    text-align: center;
}
.btn_search {
    border-radius: 0 15px 15px 0;
    height: 55px;
    background-color: #e4e4e4;
    border: transparent;
    padding: 6px 10px 10px 10px;
}
.btn_search:hover {
    background-color: #ffaf6e;
}
.btn_search:active {
    background-color: #fc9139;
}
.alerta {
    color: #ff0000;
}
.errorSearch {
    position: relative;
    top: -18px;
    left: 22px;
}

//******Carpeta*****//

.carpeta {
    width: 285px;
    height: 220px;
    margin: auto;
}

.container-class {
    display: inline-block;
    padding: 1%;
    margin: 1% ;
    width: 21%;
    min-width: 280px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 7px 7px 15px #b9b9b9; 
}

.fotoPerfil-profe {
    width: 55px;
    height: 55px;
    position: relative;
    left: 200px;
    bottom: 100px;
    border-radius: 30px;
}

.container-class-body p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-class {
    margin-bottom: 1rem;
    font-weight: bold;
}

.icon--plus {
    margin: auto;
    height: 250px;
}

.nameProfe {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
