.menu__container {
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    margin: 10px;
    @include backgroundScool();
 
}
.menu__icon {
 
    align-self: flex-end;
    color: black;
    margin: 10px;
    svg {
        font-size: 3em;
    }

    &:hover {
        cursor: pointer;
    }
}

.menu__nav {
    .menu__item-container {
        display: flex;
       
        align-items: center;

        p {
            margin-left: 30px;
        }
    }
    .menu__item-container.menu__active{
        color: white;
    }
    
    padding: 0px 0 0px 50px;

    ul{
        list-style: none;
        padding: 0;
    }


    li {
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        font-family: 'Maven Pro', sans-serif;
        font-family: 'Roboto', sans-serif;
        // font-family: 'Roboto', sans-serif;
        // background-color: rgba(223, 223, 223, 0.62);

    }
   
}

.menu__separator {
    border: 1px solid white;
    margin-bottom: 15px;
}

.menu__logout {
    margin-bottom: 10px;
    color: black;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p {
        &:hover {
            color: white;
        }   
    }   
}

// .menu__active {
//     // background-color: rgba(223, 223, 223, 0.62);
//     // color: white;
//     // border-top-left-radius: 30px;
//     // border-bottom-left-radius: 30px;
// }





