.menu-short__container {
    // border: 1px solid black;
    grid-area: 1 / 1 / 6 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-radius: 15px;
    @include backgroundScool();
}



.menu-short__icon {
    color: black;
    cursor: pointer;
    
    svg {
        
        font-size: 40px;
    }
}




.menu-short__nav {
    
    ul{
        list-style: none;
        padding: 0;
        
    }
    a {
        text-decoration: none;
        color: black;
        
        svg {
            font-size: 35px;
            margin-top: 30px;
        }
    }
    .menu-short__active {
        color: white;
    }

}

.menu-short__logout {
    color: black;
    svg {
        font-size: 35px;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

}

