.homework__container {
    background-color: white;
    height: 90%;
    width: 90%;
    border-radius: 30px;
    padding: 20px;
    // box-shadow: 4px 4px 4px 4px rgb(228, 154, 93);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.homework__titles {
    text-align: center;
    margin-bottom: 20px;
}

.homework__pending-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
    img {
        margin-right: 10px;
        height: 50px;
        width: 50px;
    }
}

.homework__info-container {
    display: flex;
    align-items: center;
}
.homework__button {
    background-color: $naranja;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 28px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;

    &:hover {
        border: 2px solid white;
    }
}