* {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

.container-main-complete {
    height: 100vh;
    display: grid;
    grid-template-columns: 315px 70px 1fr 1fr;
    grid-template-rows: 6% repeat(4, 1fr);
    // column-gap: 20px;
}

.container-main-short {
    height: 100vh;
    display: grid;
    grid-template-columns:75px 70px 1fr 1fr;
    grid-template-rows: 5% repeat(4, 1fr);
}

.container-loadingApp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    img {
        height: 100px;
        margin-bottom: 30px;
    }
}

.container-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-spinner {

    animation: spin 1s linear infinite;
    height: 100px;
    margin-bottom: 20px;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.container-profile {
    grid-area: 2 / 3 / 6 / 5;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-calendar {
    grid-area: 2 / 3 / 6 / 5;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-homework {
    grid-area: 2 / 3 / 6 / 5;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-goal {
    grid-area: 2 / 3 / 6 / 5;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-chat {
    grid-area: 2 / 3 / 6 / 5;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home-teacher {
    grid-area: 2 / 3 / 6 / 5;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;

}




